{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5 mx-md-auto pt-5">
            <div class="about-section">
                <h1>About</h1>
                <p>This website is designed to help visualize data that might not have been otherwise available to students or even faculty about traffic patterns and tendencies for the University of North Carolina at Charlotte.</p>
                <p>It provides data pertaining to the amount of people that have connected within a certain time frame, specifically within certain periods of hours in the day and months in the year.</p> 
                <p>This website is designed with the intent to meet a users specific query, on what times of the day tend to be the busiest on our campus. We hope for our product to help students and faculty get the information that they desire, whether it be for school events, groups or others.</p>
            </div>
        </div>
    </div>            
</div>            
    
    
{% endblock %}