{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row mb-5 pt-5">
    <div id="tabs">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a href="#tab-1">HeatMap</a>
        </li>
      </ul>

      <div id="tab-1" class="tab">
        <div class="card-wrapper">
          <div class="card">
              <div class="col-md-5 mx-md-auto pt-5">
                <form action="{{url_for('dashboard2')}}" method = "POST">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                  <div class="form-group">
                    <label for="year">Year</label>
                    <select class="form-control" id="year" name="year" required>
                      <option value="" selected disabled hidden>Select Year</option>
                      <option type="text">2020</option>
                      <option type="text">2021</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="starttime">Start Time:</label>
                    <input class="timePicker" type="text" name="starttime" value="00:00:00">
                  </div>
                  <div class="form-group">
                    <label for="endtime">End Time:</label>
                    <input class="timePicker" type="text" name="endtime" value="00:00:00">
                  </div>
                  <input type="submit" value = "Submit"/>
                </form>
              </div>
          </div>
        </div>      
      </div>

      <div id="tab-3" class="tab">
        <table id="popTable">
        </table>  
      </div>    
    </div>
    </div>
  </div>    
</div>
{% endblock %}
