{% extends "base.html" %}

{% block content %}
<body>

    <div id="tabs">
      <ul>
        <li><a href="#tab-1">HeatMap</a></li>
        <li><a href="#tab-2">Data</a></li>
        <li><a href="#tab-3">LiveMap</a></li>
      </ul>

      <div id="tab-1" class="tab">
        <div id="map">
            <div class="mapouter"><div class="gmap_canvas"><iframe width="865" height="389" id="gmap_canvas" src="https://maps.google.com/maps?q=uncc&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:389px;width:865px;}</style><a href="https://www.embedgooglemap.net">google maps on webpage</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:389px;width:865px;}</style></div></div>
        </div>
        <p>
          <form action="{{url_for('dashboard')}}" method = "post">
            
            Start Time:<input class="timePicker" type="text" name="starttime" value="00:00:00">
            End Time:<input class="timePicker" type="text" name="endtime" value="00:00:00">
            <input type="submit" value = "Submit"/>
          </form>
        </p>
      </div>


      <div id="tab-3" class="tab">

        <table id="popTable">


{% endblock %}
