{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row mb-5 pt-5">
    <div id="tabs">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a href="#tab-1">HeatMap</a>
        </li>
        <li class="nav-item">
          <a href="#tab-2">Data</a>
        </li>
        <li class="nav-item">
          <a href="#tab-3">LiveMap</a>
        </li>
      </ul>

      <div id="tab-1" class="tab">
        <p id="demo"></p>
        <p id="demo2"></p>
        <svg id ='canvas'>


        </svg>
        <svg id = 'legend'>
          <g>
            <rect  x = '10' y = '0' width = '40' height = '40' fill='LightGray'></rect>
            <text x = '60' y = '20'>NO DATA</text>
            </g>
          <g>
            <rect x = '10' y = '50' width = '40' height = '40' fill='blue'></rect>
            <text x = '60' y = '70'>less than .05%</text>
          </g>
          <g>
            <rect x = '10' y = '100' width = '40' height = '40' fill='powderblue'></rect>
            <text x = '60' y = '120'>less than .10%</text>
          </g>
          <g>
            <rect x = '180' y = '0' width = '40' height = '40' fill='lightgreen'></rect>
            <text x = '230' y = '20'>less than .25%</text>
          </g>
          <g>
            <rect x = '180' y = '50' width = '40' height = '40' fill='yellowgreen'></rect>
            <text x = '230' y = '70'>less than .40%</text>
          </g>
          <g>
            <rect x = '180' y = '100' width = '40' height = '40' fill='goldenrod'></rect>
            <text x = '230' y = '120'>less than .55%</text>
          </g>
          <g>
            <rect x = '370' y = '0' width = '40' height = '40' fill='darkorange'></rect>
            <text x = '420' y = '20'>less than .70%</text>
          </g>
          <g>
            <rect x = '370' y = '50' width = '40' height = '40' fill='red'></rect>
            <text x = '420' y = '70'>less than .85%</text>
          </g>
          <g>
            <rect x = '370' y = '100' width = '40' height = '40' fill='darkred'></rect>
            <text x = '420' y = '120'>Less than 1%</text>
          </g>
        </svg>
      </div>


      <div id="tab-3" class="tab">
        <table id="popTable">
          <script type="text/javascript">
            var data = {{queriedInfo|tojson|safe}}
            var numberOfSteps = {{numberOfSteps}}
            var totalWeight = {{totalWeight}}
            var hoursStartTime = {{hoursStartTime}}
          </script>
          <script src="/static/js/heatmap.js"></script>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
