{% extends "base.html" %}

{% block content %}
<body>

    <div id="tabs">
      <ul>
        <li><a href="#tab-1">HeatMap</a></li>
        <li><a href="#tab-2">Data</a></li>
        <li><a href="#tab-3">LiveMap</a></li>
      </ul>

      <div id="tab-1" class="tab">
        <p id="demo"></p>
        <p id="demo2"></p>
        <svg id='canvas'>

    </svg>
      </div>


      <div id="tab-3" class="tab">

        <table id="popTable">
          <script type="text/javascript">
            var data = {{queriedInfo|tojson|safe}}
            var numberOfSteps = {{numberOfSteps}}
            var totalWeight = {{totalWeight}}
            var hoursStartTime = {{hoursStartTime}}
          </script>






{% endblock %}
